DEBUG=
SECRET_KEY=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=


PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Do not make any changes to these variabales
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST_AUTH_METHOD=
PGDATA=

PGADMIN_DISABLE_POSTFIX=

# Fernet configuration
FERNET_KEY=

